<footer class="footer container u-padding-top-medium">
  <div class="social-media">
    <div class="social-media__location">
      <h6 class="footer__heading">Where to find us</h6>
      <div class="location__content">
        <svg class="footer-icon location-icon">
          <use
            xlink:href="../../../../../assets/images/sprite.svg#icon-location-pin"
          ></use>
        </svg>
        <ul class="list-group">
          <li class="list-item">
            1005 Langley Street
          </li>
          <li class="list-item">Victoria, BC</li>
          <li class="list-item">V8W 1V7</li>
        </ul>
      </div>
      <ul class="list-group location__content">
        <svg class="footer-icon tel-icon">
          <use
            xlink:href="../../../../../assets/images/sprite.svg#icon-old-phone"
          ></use>
        </svg>
        <li class="list-item">(250) 555-2552</li>
      </ul>
    </div>
    <div class="social-media__sitemap">
      <h6 class="footer__heading">Sitemap</h6>
      <ul class="list-group">
        <li class="list-item">Shop</li>
        <li class="list-item">Blog</li>
        <li class="list-item">About</li>
        <li class="list-item">Contact us</li>
      </ul>
    </div>
    <div class="social-media__followus">
      <h6 class="footer__heading">Follow us</h6>
      <div class="social_icons">
        <svg class="footer-icon">
          <use
            xlink:href="../../../../../assets/images/sprite.svg#icon-facebook-with-circle"
          ></use>
        </svg>
        <svg class="footer-icon">
          <use
            xlink:href="../../../../../assets/images/sprite.svg#icon-instagram-with-circle"
          ></use>
        </svg>
        <svg class="footer-icon">
          <use
            xlink:href="../../../../../assets/images/sprite.svg#icon-twitter-with-circle"
          ></use>
        </svg>
        <svg class="footer-icon">
          <use
            xlink:href="../../../../../assets/images/sprite.svg#icon-vimeo-with-circle"
          ></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="newsletter">
    <h5 class="heading-6 u-margin-bottom-small">Join our newsletter</h5>
    <div class='input-group'>
      <label for="newsletter"></label>
      <input class='input-control' id="newsletter" type="email" placeholder="Email" />

      <a href="#" class="newsletter-submit">Sumbit</a>
    </div>
  </div>
</footer>
